<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>23-adv-java-club-gnr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PSignupServlet</display-name>
    <servlet-name>PSignupServlet</servlet-name>
    <servlet-class>com.controller.PSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSignupServlet</servlet-name>
    <url-pattern>/PSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSearchServlet</display-name>
    <servlet-name>PSearchServlet</servlet-name>
    <servlet-class>com.controller.PSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSearchServlet</servlet-name>
    <url-pattern>/PSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CLoginServlet</display-name>
    <servlet-name>CLoginServlet</servlet-name>
    <servlet-class>com.controller.CLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoginServlet</servlet-name>
    <url-pattern>/CLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FListUserServlet</display-name>
    <servlet-name>FListUserServlet</servlet-name>
    <servlet-class>com.controller.FListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FListUserServlet</servlet-name>
    <url-pattern>/FListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
</web-app>